@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.2s linear;
}

*::selection{
    background: rgb(241, 228, 105);
    color:#444;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

.section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    padding: 2.5rem 0;
}

.heading span{
    font-size: 3.5rem;
    background-color: rgb(89, 137, 228);
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.2rem 1rem;
}

/* .heading span .space{
    background: none;
    color: #fff;
} */

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(89, 137, 228);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

.header h3{
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.header .navbar a{
    color: #fff;
    font-size: 2rem;
    margin: 0 1.2rem;
    text-decoration: none;
}


.header .navbar a:hover{
    color: rgb(241, 230, 124);
}

/* nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
} */

.header .icons i{
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    margin-right: 2rem;
}

.header .icons i:hover{
    color: rgb(241, 230, 124);
}


.header .sign-btn{
    font-size:2rem;
    padding: 7px 25px;
    border: none;
    outline: none;
    background-color: #fff;
    color: rgb(89, 137, 228);
    cursor: pointer;
    border-radius: 20px;
    font-weight: 500;
    /* margin-left: 1rem; */
    text-transform: none;
}

.header .sign-btn:hover{
    color: rgb(89, 137, 228);
    background: rgb(241, 230, 124);
}

.header .search-container{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 1.5rem 2rem;
    background: rgb(89, 137, 228);
    border-top: 0.1rem solid rgba(255,255,255,.2);
    display: flex;
    align-items: center;
    z-index: 1001;
    /* box-shadow: 0.45rem 0.45rem 0.2rem rgb(78, 134, 236); */
}

.header .search-container{
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-top: 0.3rem solid rgba(255,255,255,.2);
    border-radius: 20px;
    clip-path: polygon(0 0,100% 0,100% 0,0 0);
}

.header .search-container.active{
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
}

.search-container input{
    flex:1;
    height: 40px;
    margin: 0 0.5rem 0 0.5rem;
    width: 100%;
    border: none;
    outline: none;
}

.header .search-container #search-bar{
    padding: 1rem;
    text-transform: none;
    color: #333;
    font-size: 1.7rem;
    border-radius: 10px;
}

.header .search-container div{
    color: #333;
    font-size: 2.5rem;
    align-items: center;
    cursor: pointer;
}

.header .search-container div:hover{
    color: rgb(89, 137, 228);
}

.login-container{
    position: fixed;
    top: -120%;
    left: 0;
    z-index: 10000;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container.active{
    top:0;
}

.login-container form{
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: #fff;
    width: 50rem;
}

.login-container form h3{
    font-size: 3rem;
    color: #444;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}

.login-container form .box{
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    margin: 0.6rem 0;
    border: 0.1rem solid rgba(0,0,0,.3);
    text-transform: none;
}
.login-container form .box:focus{
    border-color: rgb(59, 117, 224);
}

.login-container form #remember{
    margin: 2rem 0;
}

.login-container form label{
    font-size: 1.5rem;
    text-transform: none;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    background: rgb(89, 137, 228);
    color: #fff;
    padding: 0.8rem 3rem;
    border: 1rem solid rgb(89, 137, 228);
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: rgb(140, 174, 238,0.2);
    color: rgb(89, 137, 228);
}

.login-container form .btn{
    display: block;
    width: 100%;
}

.login-container form p{
    padding: 0.5rem 0;
    font-size: 1.5rem;
    color: #666;
}

.login-container form p a{
    color: rgb(27, 95, 221);
}

.login-container form p a:hover{
    color: #333;
    text-decoration: underline;
}

.login-container #form-close{
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
    color: #fff;
    cursor: pointer;
}

#menu-bar{
    color: #fff;
    border: 0.3rem solid #fff;
    border-radius: 0.5rem;
    font-size: 3rem;
    padding: 0.5rem 1.2rem;
    cursor: pointer;
    display: none;
}

.section .home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}

.section .home .content{
    text-align: center;
}

.section .home .content h4{
    font-size: 4rem;
    color: #fff;
    /* font-family: 'Poppins', sans-serif, monospace; */
    /* text-transform:uppercase; */
    text-transform: none;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,.7);
}

.section .home .content .title{
    -webkit-text-stroke: 1px rgb(42, 106, 224);
    color: transparent;
    background-image: linear-gradient(#fff,#fff);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -65rem 0;
    animation: backcolor 5s linear infinite alternate;
}

@keyframes backcolor{
    100%{
        background-position: 0 0;
    }
}

.section .home .content h2{
    font-size: 6rem;
    font-style: italic;
    color: #fff;
    padding: 0.5rem 0;
    /* text-transform: uppercase; */
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,.3);
}

.section .video-container .slider{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* .video-container{
    width: 100%;
    height: 100vh;
    /* position: relative; */
    /* display: flex;
    justify-content: center;
    align-items: center; 
}  */

/* .video-container .slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */



.section .video-container ul{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.section .video-container ul li{
    list-style: none;
    cursor: pointer;
    margin: 30px;
}

.section .video-container ul li video{
    width: 200px;
    transition: all 0.3s;
}

.section .video-container ul li video:hover{
    transform: scale(1.1);
}

/* video{
    width: 100%;
    height: 100%;
} */

/* body{
    height: 300rem;
} */


.book .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.book .row .image{
    flex: 1 1 40rem;
}

.book .row .image img{
    width: 100%;
}

.book .row form{
    flex: 1 1 40rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
    border-radius: 1rem;
}

.book .row form .inputBox{
    padding: 0.5rem 0;
}

.book .row form .inputBox input{
    width:100%;
    padding: 1rem;
    border: 0.1rem solid rgba(0,0,0,.1);
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
}

.book .row form .inputBox h3{
    font-size: 2rem;
    padding: 1rem 0;
    color: #666;
}

/* .book .row form:nth-last-child(#sub-btn){
    text-transform: none;
} */


/* .book .row form .inputBox #sub-btn{
    color: #fff;
    margin-top: 1rem;
    background: rgb(89, 137, 228);
    padding: 0.8rem 3rem;
    border: 1rem solid rgb(89, 137, 228);
    font-size: 2rem;
    width: 30%;
    left:50%;
}
.book .row form .inputBox #sub-btn:hover{
    background: rgb(140, 174, 238,0.2);
    color: rgb(89, 137, 228);
} */

.packages .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.packages .box-container .box{
    flex: 1 1 40rem;
    border-radius: 0.7rem;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
}

.packages .box-container .box img{
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

.packages .box-container .box .content{
    padding: 2rem;
}

.packages .box-container .box .content h3{
    font-size: 2rem;
    color: #333;
}

.packages .box-container .box .content h3 i{
    color: rgb(89, 137, 228);
    margin-right: 0.5rem;
}

.packages .box-container .box .content p{
    font-size: 1.7rem;
    color: #666;
    padding: 1rem 0;
}

.packages .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: rgb(89, 137, 228);
}

.packages .box-container .box .content .price{
    font-size: 2rem;
    color: #333;
    padding-top: 1rem;
}

.packages .box-container .box .content .price span{
    color: #666;
    font-size: 1.5rem;
    text-decoration: line-through;
}



.services .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.services .box-container .box{
    flex: 1 1 40rem;
    border-radius: 0.9rem;
    padding: 1rem;
    text-align: center;
}

.services .box-container .box i{
    padding: 1rem;
    font-size: 5rem;
    color: rgb(89, 137, 228);
}

.services .box-container .box h3{
    font-size: 2.5rem;
    color: #333;
}

.services .box-container .box p{
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}

.services .box-container .box:hover{
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
}

.gallery .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.gallery .box-container .box{
    flex: 1 1 40rem;
    overflow: hidden;
    border: 1rem solid #fff;
    border-radius: 0.7rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
    height: 25rem;
    position: relative;
}

.gallery .box-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery .box-container .box .content{
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0,0,0,.7);
    padding: 2rem;
    padding-top: 5rem;
}
.gallery .box-container .box:hover .content{
    top: 0;
}

.gallery .box-container .box .content h3{
    font-size: 2.5rem;
    color: rgb(89, 137, 228);
}

.gallery .box-container .box .content p{
    font-size: 1.5rem;
    color: #eee;
    padding: 0.5rem 0;
}





.review .review-slider{
    padding-bottom: 2rem;
}

.review .box{
    padding: 2rem;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
    border-radius: 0.7rem;
}

.review .box img{
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.review .box h3{
    font-size: 2.5rem;
    color: #333;
}

.review .box p{
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}

.review .box .stars i{
    font-size: 1.7rem;
    color: rgb(89, 137, 228);
}

.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.contact .row .image{
    flex: 1 1 35rem;
}

.contact .row .image img{
    width: 100%;
}

.contact .row form{
    flex: 1 1 50rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
    border-radius: 0.7rem;
}

.contact .row form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact .row form .inputBox input, .contact .row form textarea{
    width: 49%;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    background: #f5f5f5;
    text-transform: none;
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
    width: 100%;
}



.brand-container{
    text-align: center;
}

/* .brand-container .brand-slider{
    padding: 2rem;
} */

/* .brand-container .swiper-slide{
    padding: 2rem;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
    border-radius: 0.7rem;
} */

.brand-container img{
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}




.footer{
    background: #222;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box{
    padding: 1rem 0;
    flex: 1 1 25rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    padding: 0.7rem 2.5rem;
    color: #fff;
}

.footer .box-container .box p{
    font-size: 1.5rem;
    padding: 0.7rem 2.5rem;
    color: #eee;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding: 0.7rem 2.5rem;
    color: #eee;
} 

.footer .box-container .box a:hover{
    color: rgb(89, 137, 228);
    text-decoration: underline;
}

.footer .credit{
    text-align: center;
    padding: 2rem 1rem;
    color: #fff;
    margin-top: 1rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    font-size: 2rem;
    font-weight: normal;
    border-top: 0.1rem solid rgba(255,255,255,.2);
}

.footer .credit span{
    color: rgb(89, 137, 228);
}
















/* media queries for mobile,laptop */


@media (max-width:1200px){
    html{
        font-size: 55%;
    }
}

@media (max-width:991px){
    .header{
        padding: 2rem;
    }
    .section{
        padding: 2rem;
    }
}

@media (max-width:768px){
    #menu-bar{
        display: initial;
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: rgb(89, 137, 228);
        border-top: 0.1rem solid rgba(255,255,255,.2);
        padding: 1rem 2rem;
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    }

    .header .navbar a{
        /* height: 50vh; */
        display: block;
        border-radius: 0.5rem;
        padding: 1.5rem;
        margin: 1rem 0;
        background: rgb(35, 84, 180);
    }
}

@media (max-width:450px){
    html{
        font-size: 45%;
        /* align-items: center; */
    }
    .contact .row form .inputBox input{
        width: 100%;
    }
}

@media (max-width:350px){
    html{
        font-size: 40%;
        /* align-items: center; */
    }
    .heading span{
        font-size: 2.5rem;
    }
}
